@keyframes LGBT {
  0% {border-color: red}
  25% {border-color: blue}
  50% {border-color: green}
  75% {border-color: purple}
  100% {border-color: red}
}

@keyframes LGBT2 {
  0% {color: red}
  25% {color: blue}
  50% {color: green}
  75% {color: purple}
  100% {color: red}
}

body {
  color:red;
}

#random {
  text-align: center;
  animation-name: LGBT2;
  animation-duration: 25s;
  font-size: 2em;
}

.article > h3 {
  text-align: center;
}

.article {
  margin: 2% auto 2% auto;
  text-align: center;
  border: 3px solid red;
  padding: 2%;
  font-size: 42px;
  animation-name: LGBT;
  animation-duration: 30s;
}

